@(question: Option[Question])(implicit request: play.api.mvc.RequestHeader)

@main("Answer Question") {
@request.flash.get("success").map { message =>
    <div class="alert alert-success">
        <strong>Done!</strong> @message
    </div>
}
@request.flash.get("error").map { message =>
    <div class="alert alert-danger">
        <strong>Error !</strong> @message
    </div>
}

    @question.map { q =>
<div class="jumbotron">
        <h2 class="text-center">@q.title</h2>
        <div style="height:20px;"></div>
        @q.id.map { questionId =>

            @form(routes.Answers.save(questionId), 'class -> "bottom") {
                <div class="btn-group btn-group-justified btn-group-lg">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-default btn-lg blackbackground" name="choice" value="A">@q.choiceA</button>
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-default btn-lg blackbackground" name="choice" value="B">@q.choiceB</button>
                    </div>
                </div>
            }
        }.getOrElse {
    <p>Question error</p>
        }
</div>
    }.getOrElse {
<p>No question available, come later :)</p>
    }



}